.weatherwrapper {
  max-width: 900px;
  margin: 0 auto;
}
.weatherbox {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
}
body {
  font-family: "Josefin Sans", sans-serif;
}

#city-name {
  color: #2c2e90;
  font-family: "Lobster", cursive;
  margin-bottom: 0;
}

.searchform {
  display: block;
  margin: 0px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#weather-icon {
  margin: 10px;
  border: 1px solid white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  width: 200px;
  background: #fff;
}

#githublink {
  margin: 0;
}
