.btn {
  background-color: #5e60ce;
  margin: 0px !important;
}

.form-control {
  max-width: 700px;
}

.searchfield {
  display: flex;
  justify-content: center;
}

.weathercontainer {
  grid-template-columns: 1fr 500px 1fr 500px 1fr 1000px;
  display: grid;
}
